# IntelliJ project files
.idea/
*.iml

# Build output
out/
*.class

# OS-specific files
.DS_Store
Thumbs.db

# Ignore any extra .gitignore inside folders (optional)
src/**/.gitignore
package-lock.json

